[profile.dev]
opt-level = 1

[profile.release]
opt-level = 3 

[package]
name = "videorythm"
version = "0.1.0"
edition = "2024"

[dependencies]
image = "0.25.9"
mlua = {version="0.11.5", features=["luajit", "vendored"]}
